a.brand-logo img {
    width: 100%;
}

button#kt_aside_toggle {
    position: relative;
    right: -12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #242939; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon.svg-icon svg g [fill], .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon.svg-icon svg g [fill] {
    fill: #ce923c!important;
}

.themebtn{
    color: #FFFFFF!important;
    background-color: #ce923c!important;
    border-color: #ce923c!important;
}

.mentions-autocomplete-list{
  display: block!important;
    position: absolute!important;
    top: -71px!important;
}

.contract{
    text-align: left!important;
    border: 1px solid #ce923c!important;
    padding: 0px 20px!important;
    height: 440px!important;
    overflow-y: scroll;
}
.contract ol {
    padding: 0px!important;
}
.contract ol li {
    width: 100%;
    color: #ce923c;
    font-weight: bold;
    text-transform: capitalize;
}
.confirm_submit_investment{
  display: none!important;
}
.paymentBtn{
  font-size: 21px;
    border-radius: 34px;
    font-weight: bold!important;
    background: #1bc5bd;
}

.paymentcards{
  background: #ffffff54;
    padding: 33px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px #00000069;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px!important;
}

.stripebtn{
        font-size: 21px;
    border-radius: 34px;
    font-weight: bold!important;
    background: #000;
    color: #fff;
    padding: 8px 20px;
    width: 100%;
}
.actionsbtn{
    display: inline-block!important;
    float: left!important;
    width: 46%!important;
    line-height: 34px;
}

.termconditions :checked + label {
    border: none!important;
}

.termconditions:before {
    display: none!important;
}

label.termconditions {
    width: 82px!important;
    display: inline-block!important;
    padding-right: 0px;
    text-align: right;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    border: unset;
}

input.termconditionscheck {
    height: 22px;
    width: 25px;
    position: relative;
    top: 8px;
}
.termsclick{
    color: #0075ff;
}
.recur_disable{
    border: 1px solid #000;
    width: 94%;
    margin: 0 auto;
    background: #8080801f;
    cursor: not-allowed;
}

.recur_disable:hover {
    cursor: not-allowed;
}
.recur_disable:after {
    content: "Coming Soon";
    position: absolute;
    right: -69px;
    background: #c38b3b;
    color: #fff;
    padding: 7px;
}